@model harmic.Models.TbMenu

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Thêm menu</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Xoa Menu</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form  asp-action ="Delete">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly"></div>
                  <div class="form-group">
                    <label for="exampleInputEmail" >Tieu de:</label>
                    @Model.Title
                    
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPasswordl" >Alias:</label>
                    @Model.Alias
                  </div>
                   <div class="form-group">
                   <label for="exampleInputPasswordl" >Mota:</label>
                    @Model.Description
                  </div>
                   <div class="form-group">
                   <label for="exampleInputPasswordl" >Muc:</label>
                    @Model.Levels
                  </div>
                    <div class="form-group">
                   <label for="exampleInputPasswordl" >Menu cha:</label>
                    @Model.ParentId
                  </div>
                   <div class="form-group">
                    <label for="exampleInputEmail" >vitri:</label>
                    @Model.Position
                  </div>
                  <div class=" form-group form-check">
                    
                  <label for="exampleInputEmail" >Hien:</label>
                    @Model.IsActive
                  </div>
                   <from asp-action="Delete">
                     <input type="hidden"  asp-for="MenuId" />
                     <input type="submit"  value="xóa" class="btn btn-danger"/>|
                     <a asp-action="Index" class="btn btn-danger">Quay lai</a>
                   </from>
                </div>
                <!-- /.card-body -->

               
              </form>
            </div>
            <!-- /.card -->

            

          </div>
          <!--/.col (left) -->
          <!-- right column -->
        
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div